


.slick-dots li.slick-active button:before {
    color:white
}
.slick-dots li button:before {
    color: gray;
  }

.slider-arrow{
    background:black
}
/* .slick-list{
    overflow:initial
} */

/* .slick-prev{
    left: -75px
} */